<h2>Reviews</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Overall</th>
      <th>Repairs</th>
      <th>Brief</th>
  </thead>
  <tbody>
  <% review_table.each do |tenancy| %>
    <tr>
      <td data-label="Overall Rating"><%= rating_icon(tenancy.overall) %></td>
      <td data-label="Repairs Rating"><%= rating_icon(tenancy.repairs) %></td>
      <td data-label="Brief Review"><%= tenancy.public_review[0..300] %> (<%= link_to 'Read Full', rating_path(tenancy) %>)</td>
    </tr>
  <% end %>
  </tbody>
</table>