<div class="flash alert yellow inverted ui segment">
    <%= icon('fas', 'exclamation-circle') %>
    <p><%= alert %></p>
    <a class="close" href="javascript:void(0)"><%= icon('fas', 'times') %></a>
</div>