<div class="ui icon message flash error red inverted">
    <%= icon('fas', 'dumpster-fire') %>
    <p><%= error %></p>
    <a class="close" href="javascript:void(0)"><%= icon('fas', 'times') %></a>
</div>