<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Landlord Name</th>
      <th>Unit Address</th>
      <th>Overall Rating</th>
      <th>Repairs Rating</th>
      <th>Public Review</th>
      <th>Private Review</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>