@font-face {
  font-family: 'din-2014';
  src: url('DIN2014-ExtraBold.eot');
  src: url('DIN2014-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('DIN2014-ExtraBold.woff') format('woff'),
       url('DIN2014-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}