<div class="flex flex-col flex-wrap mt-4 mb-8 space-y-4 md:flex-row md:items-end md:space-x-4">

<%= link_to target, class: "flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red" do %>
  
  <%= icon('fas', 'pencil') %>
  <span class="mx-1">Edit</span>
<% end %>

</div>