<h3>
  <%= review_card.start_date %> - <%= review_card.end_date %>
</h3>
<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">
        Public Review
      </div>
      <div class="description">
        <%= review_card.public_review %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">
        Private Review
      </div>
      <div class="description">
        <%= review_card.private_review %>
      </div>
    </div>
  </div>
</div>
