<h3>
  <%= review_card.start_date %> - <%= review_card.end_date %>
</h3>
<article>
  <h4>Public Review</h4>
  <p>
    <%= review_card.public_review %>
  </p>

  <h4>Private Review</h4>
  <p>
    <%= review_card.private_review %>
  </p>
</article>