<div>
  <div>
    <p>
      <%= link_to unit_card.address, unit_card %>
    </p>
    <p>
      Average Rating <%= rating_grade(@landlord.ratings.overall_average) %>
    </p>
    <p>
      Reviewed <%= @landlord.ratings.size %> times
    </p>
  </div>
</div>