<table class="ui table celled">
  <thead>
    <tr>
      <th>Address</th>
      <th>Landlord(s) Known</th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td data-label="Address"><%= link_to unit.address, unit %></td>
        <td data-label="Landlords Known">
          <% unit.landlords.to_a.map do |l| %>
            <%= link_to l.name, l %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>