<table class="ui table celled">
  <thead>
    <tr>
      <th>Address</th>
      <th>Landlord(s) Known</th>
      <th>Building Type</th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td data-label="Address"><%= link_to unit.address, unit %></td>
        <td data-label="Landlord(s) Known">
          <%= render partial: "landlords/landlord_button", collection: unit.landlords %>
        </td>
        <td data-label="Building Type"><%= unit.building_type || "-" %>
      </tr>
    <% end %>
  </tbody>
</table>