// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.grade {
  font-weight: bold;

  &.A {
    color: #3498DB;
  }
  &.B {
    color: #27AE60;
  }
  &.C {
    color: #F1C40F;
  }
  &.D {
    color: #E59866;
  }
  &.F {
    color: #D35400;
  }
}

.fa-angry {
  font-size: 1.4rem;
  color: red;
}

.fa-frown {
  font-size: 1.4rem;
  color: orange;
}
.fa-meh {
  font-size: 1.4rem;
  color: yellow;
  text-shadow: 2px 2px blak;
}
.fa-smile {
  font-size: 1.4rem;
  color: green;
}

.field .rating {
    display: flex;
    justify-content: space-between;
    align-content: left;
    width: 275px;

    input[type="radio"] {
      display:none;
    }

    label {
      border: 1px solid #DDD;
      border-radius:5px;
      padding:10px;
      margin-top:10px;
      display:block;
    }

    label:hover {
      cursor:pointer;
      background-color:#EEE;
    }

    input[type="radio"]:checked + label {
      background-color:#DFD;
    }
}

#ratings.index table td i {
  font-size: 2rem;
}