<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Overall</th>
      <th>Repairs</th>
      <th>Reviews</th>
    </tr>
  </thead>

  <tbody>
    <% @landlords.each do |landlord| %>
      <tr>
        <td data-label="Name"><%= link_to landlord.name, landlord %></td>
        <%= rating_grade(landlord.ratings.overall_average, :td) %>
        <%= rating_grade(landlord.ratings.repairs_average, :td) %>
        <td data-label="Reviews"><%= landlord.ratings.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>