<p id="notice"><%= notice %></p>

<h1>Landlords</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @landlords.each do |landlord| %>
      <tr>
        <td><%= landlord.name %></td>
        <td><%= link_to 'Show', landlord %></td>
      </tr>
    <% end %>
  </tbody>
</table>
